@import "compass/reset"
@import "compass"


html,
body
  background-color: #123
  font-family: Open Sans, sans-serif
  height: 100%
  background-image: inline-image("noisy-net.png", "image/png")


// Logo
#logo
  left: 50%
  margin-left: -288px - 100px
  margin-top: -168px
  position: absolute
  top: 50%

  .slides-container
    height: 336px
    width: 288px

    div
      @extend .slides-container

      &:not(:first-child)
        display: none


// Content
#content
  color: #f90
  font-size: 3em
  height: 374px
  left: 50%
  margin-top: -187px
  position: absolute
  top: 50%
  width: 400px

  h1
    color: #fd0
    font-weight: bold
    margin-bottom: 1em

  p
    font-size: .5em
    line-height: 1.5em
    margin-bottom: 2em


// Projects List
.projects

  a
    color: #999
    display: inline-block
    font-size: .25em
    font-weight: bold
    line-height: 1.5em
    margin-right: 1em
    text-align: center
    text-decoration: none
    width: 110px
    @include text-shadow(0 1px 1px rgba(#000, .5))

    &:hover,
    &:focus
      color: #eee
