!!! 5

%html
  %head
    %title Plaev Team - Play Everywhere
    %meta( charset="utf-8" )
    %link( rel="shortcut icon" href="img/favicon.png" )
    %link( href="css/screen.css" rel="stylesheet" )
    %link( href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700" rel="stylesheet" )
    %script( type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js" )
    %script( type="text/javascript" src="js/slides.min.jquery.js" )
    %script( type="text/javascript" src="js/functions.js" )

  %body
    #logo
      .slides-container
        %div
          %img( src="img/logo01.png" alt="" )
        %div
          %img( src="img/logo02.png" alt="" )
        %div
          %img( src="img/logo03.png" alt="" )
        %div
          %img( src="img/logo04.png" alt="" )
        %div
          %img( src="img/logo05.png" alt="" )
        %div
          %img( src="img/logo06.png" alt="" )
        %div
          %img( src="img/logo07.png" alt="" )
        %div
          %img( src="img/logo08.png" alt="" )

    %section#content
      :markdown
        # We are Plaev.

        Two guys venturing into the world of game development for the web. We're currently developing a platformer as our first prototype.
      %nav.projects
        %a( href="http://plaev.me/skeleton-jigsaw" )
          %img( src="img/icon-sj.png" alt="" width="64" height="64" )
          %br
          %strong Skeleton Jigsaw
